extends layout

block content
  section
    h2 About
    p
      |Register user page is generate user data to be used in parts of the website such as login.
      br
      |My projects shows the projects for the users.
      br
      |
      |We combined all our webpages together to form the basis of the group one. Chat is on its own page as it seems easier and more convinent.
      |login/logout and Register/My profile change visibliltiy depending on if the user is logged in or not
      br
      |The page to create projects and view created projects are split up for easy of use and accessability.
      br
      |Each Projects tasks can be viewd in its own page for convinence.
      br
      |Most pages can only be accessable if a user is logged in.
      br
      |Sorting is done by priority of the tasks stated then by their date automatically.
