extends layout

block content
  section
    h2 Chat

    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script.
      console.log('loading script'); 
      var socket = io();
      console.log('connected');

      function send{
        console.log('send');
        var message = document.getElementById('message');
        socket.emit('message', message.value);
        message.value = '';
      };

      socket.on('message', function(msg){
        var messages = document.getElementById('messages');
        var newText = doicument.createElement('li');
        newText.innerHTML = msg;
        messages.appendChild(newTest);
      });

    form(action="", id='msgForm', onSubmit='return false;')
      input(id="message" autocomplete="off")
      button(type='button', onCLick='send();') Send   


