extends layout
block scripts
  script(src='/javascripts/edit_project_details.js')

block content
  section
    // The padding was necessary as the content kept overlaying the nav otherwise
    h2 Edit Project Details
    form
      fieldset
        legend Project infomation:
        table
          tr
            td Game Leader:
            td
              | current user
          tr
            td Game Name:
            td
              input(type='text' name='game_name' required='required')
        br
        | &#x9;&#x9;&#x9;&#x9;Game Description:
        br
        textarea(name='game_description' wrap='soft' style='height: 120px; width: 300px; font-size: 90%')
        br
        br
        input(type='submit' value='Confirm Changes')
        input(type='reset' value='Reset Form' onclick='restform()')

