extends layout
block scripts
  script(src='/javascripts/edit_project_details.js')

block content
  section
    form(action="/projects/"+project._id+"/edit" method="post")
      fieldset
        legend Project infomation:
        table
          tr
            td Game Leader:
            td= project.leader
          tr
            td Game Name:
            td 
              input(type='text' name='title' value=project.title required='required')
        br
        | Game Description:
        br
        textarea(name='description' wrap='soft' 
          style='height: 120px; width: 300px; font-size: 90%')=project.description
        br
        br
        input(type='submit' value='Confirm Changes')
        input(type='reset' value='Reset Form' onclick='restform()')

