extends layout

block content
  section
    // The padding was necessary as the content kept overlaying the nav otherwise
    h2 Welcome to GameDev.com
    h3 How Does GameDev Work?
    p
    | Developers of small, indpendant games can create tasks, set deadlines and chat in
    | organzied communities around their projects.
    h3 How to get started?
    p
    | The Team Leader can register a user account and create a new project and send out invites. 
    br
    br
    |             Team Members can then register a user account and accept invitation in the aside. 
    br
    h3 How GameDev makes matching developers to task easier?
    p
    | GameDev&apos;s step by step task process: 
    br
    p
    | User post the tasks with the descriptions, requirements, priority and deadline
    br

