doctype html
// This page is the welcome page of the website
head
  title Login
  meta(charset='utf-8')
  style.
    @import "headernav.css";
//
  I originally stored the header and navin a seperate file and managed to access them with jQuery. However, Chrome has an issue
  with allowing a webpage access to files on your computer (even if the webpage comes from your computer) rendering my website completely unusuable
  on chrome. As this page explains (https://stackoverflow.com/questions/2990518/jquery-load-not-working-in-chrome), it's called the "same origin policy".
  Not having enough time to find an alternate solution, I instead had to copy and paste the code into all webpages. Sorry about the mess
header
  // Turns the logo into a link for the welcome page
  a(href='welcome.html')
    // I made this logo using GIMP
    img(src='logo.PNG' alt='logo' style='margin: 0; height: 100px;')
// Allows access to all relevant parts of site
nav
  // Nav links area.
  ul
    li
      a(href='welcome.html') Home
    li
      a(href='register.html') Register
    li
      a(href='profile.html') My Profile
    li
      a(href='projects.html') My Projects
    li
      a(href='chat.html') Chat
    li
      a(href='about.html') About
    li
      a(href='login.html') Login
// A brief description of the website
section
  // The padding was necessary as the content kept overlaying the nav otherwise
  h2 Login
  form
    fieldset
      legend login infomation:
      table
        tr
          td Username:
          td
            input(type='text' name='username' required='required')
        tr
          td Password:
          td
            input(type='text' name='password' required='required')
      br
      input(type='submit' value='Login')
      input(type='reset' value='Reset' onclick='restform()')
footer#footer
  // This script allows for drop down menus and a popup
  script(src='login.js')
  script.
    dater()
