extends layout
block stylesheets
  link(rel='stylesheet', href='/stylesheets/projects.css')
block scripts
  script(src='/javascripts/projects.js')

block content
  section
    h2 My Projects
    table
      tr
        th(width='160px') Game Name
        th Game Description
        th(width='100px') Game Leader
        th Members
        th Remove
      each project in projects
        tr
          td 
            a(href="/projects/"+project._id) #{project.title}
            br
          td= project.description
          td= project.leader
          td= project.members.length
          td
            form(action='/projects/delete/' + project._id)
              input(type='submit' value='Delete')
      tr
        td
          a(href='template_project.html') template_project.html
          br
        td
          | Click this project for the layout of a project.
        td Joshua, Mia, Connor
        td 3
    br
    form(action='/new_project')
      input(type='submit' value='Create New Project')
    br
