extends layout

block content
  if msg
  p(style='color:red') #{msg}
  .container
    
    h1 Registration Page
    p Register here
    br
    form(action="/register",method="post")
      label(for='username') Enter Username:
      input(id='username', type = 'text', name = 'username')
      label(for='password') Enter Password
      input(id='password',type ='password', name='password')
      input(type='submit', value='Register')
