extends layout
block scripts
  script(src='/javascripts/template_project.js')

block content
  section
    form(action='/projects/' + project._id + '/edit')
      fieldset
        legend Project Details:
        table
          tr
            td Game Name:
            td= project.title
        br
        | Game Description:
        br
        div(name='game_description')=project.description
        br
        input(type='submit' value='Edit Project Details')
    br
    form(action='/projects/' + project._id + '/invite' method='post')
      fieldset
        legend Group Members:
        table
          tr
            td Game Leader:
            td=project.leader
          tr
            td Group members:
            td=project.members.join(', ')
        br
        input#new_member(type='text' name='member' value='')
        input(type='submit' value='Invite New Member')
    br
    form
      fieldset
        legend Group Tasks:
        table#myTable
          tr
            th(style='width:18%') Task Name
            th Task Description
            th(style='width:18%') Importance
            th(style='width:8%') Deadline
            th(style='width:8%') Remove
          tr
            td
              input#newTask(type='text' name='newtask' value='NewTask' style='width:100%')
            td
              input#descTask(type='text' name='description' value='' style='width:100%')
            td
              select#impTask(style='width:100%')
                option Urgent
                option High Priority
                option(selected='selected') Routine
                option Low Priority
                option No Priority
            td
              input#dateTask(type='date' name='deadline' style='width:auto')
            td
              button(type='button' onclick='insertTask()') Create Task
    br
